*{
    font-family: sans-serif;
    font-style: normal;
    background-color: crimson;
}
body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
}
*{
    font-family: sans-serif;
    font-style: normal;
}
body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
}